* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 100%;
}

img {
    max-width: 100%;
    display: block;
}

button, a {
    cursor: pointer;
}