@media (max-width: 1150px) {
  #portfolio {
    height: 70rem;
  }

  .projects li {
    width: min-content;
    margin: 0 auto;
  }
  
}

@media (max-width: 1000px) {
  #about {
    height: 45rem;
  }
}

@media (max-width: 900px) {
  #about {
    height: 50rem;
  }
}

@media (max-width: 800px) {
  #portfolio {
    height: 115rem;
  }

  .projects {
    flex-direction: column;
  }

  #about {
    height: 58rem;
  }

  .about__me {
    flex-direction: column;
  }

  .summary {
    width: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills__carousel {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .h-main .container {
    justify-content: center;
  }

  .navbar {
    display: none;
  }

  .project__item {
    width: 19rem;
  }

  #about {
    height: 62rem;
  }

  #contact {
    height: 30rem;
  }

  #contact header p,
  .email,
  .whatsapp {
    font-size: 1.3rem;
  }

  #contact .container > div {
    padding-top: 0;
  }

  footer {
    height: 10rem;
  }

  footer .container {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  footer h3 {
    text-align: center;
  }
}

/* Ajustar medidas do carrossel para funcionar corretamente em telas de largura inferiro a 500px*/

@media(max-width: 500px) {
  .skills__carousel {
    display: none;
  }
}