.h-main {
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.h-main--highlighted {
  background-color: #000000bf;
}

.h-main .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  color: var(--white-color);
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.2rem;
}

#hero {
  height: 45rem;
  background: linear-gradient(75.96deg, var(--blue-color) 0%, var(--green-color) 100%);
  padding-top: 10.25rem;
}

#hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__image {
  width: 100%;
  max-width: 20rem;
  border: 5px solid var(--white-color);
  border-radius: 50%;
  box-shadow: 0px 0px 64px #000000bf;
}

.info {
  color: var(--white-color);
  text-align: center;
}

.info__name {
  font-size: 3rem;
  margin-top: 2.5rem;
}

.info__title {
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

#portfolio,
#about,
#contact {
  padding-top: 6rem;
  color: #113;
}

section .container > header {
  margin-bottom: 3rem;
}

#portfolio {
  height: 50rem;
  
}

#portfolio .container {
  height: 100%;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.project__item {
  width: 22rem;
  flex: 1;
  height: 13rem;
  background-color: #bbb;
  border-radius: 15px;
  line-height: 13rem;
  text-align: center;
}

#about {
  height: 40rem;
  background-color: var(--green-color);
}

.about__me {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.about__me h3 {
  font-size: 1.75rem;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

#contact {
  height: 42rem;
}

#contact .container {
  height: 100%;
}

#contact form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

#contact form label {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

#contact form input,
#contact form textarea {
  border: 1px solid #113;
  border-radius: 15px;
  background-color: transparent;
  padding: 1rem 1.5rem;
}

#contact form textarea {
  resize: none;
}

footer {
  height: 8rem;
  background-color: var(--blue-color);
}

footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2rem;
  color: var(--white-color);
}

footer .social {
  display: flex;
  gap: 1rem;
}